# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/components/navbar/camion-de-transporte.png
src/components/navbar/camion-de-transporte.svg
src/data/vehicles_broken_november.json
src/data/vehicles.json
src/components/calendar/calendar copy.js
src/data/vehicles.json
src/data/all_exceptions.json
src/data/all_fuel.json
src/data/all_vehicles_february.json
src/data/df_fuel.csv
src/data/vehicles.json
src/data/all_exceptions/exceptions_20210201.json
src/data/all_exceptions/exceptions_20210202.json
src/data/all_exceptions/exceptions_20210203.json
src/data/all_exceptions/exceptions_20210204.json
src/data/all_exceptions/exceptions_20210205.json
src/data/all_exceptions/exceptions_20210206.json
src/data/all_exceptions/exceptions_20210207.json
src/data/all_exceptions/exceptions_20210208.json
src/data/all_exceptions/exceptions_20210209.json
src/data/all_exceptions/exceptions_20210210.json
src/data/all_exceptions/exceptions_20210211.json
src/data/all_exceptions/exceptions_20210212.json
src/data/all_exceptions/exceptions_20210213.json
src/data/all_exceptions/exceptions_20210214.json
src/data/all_exceptions/exceptions_20210215.json
src/data/all_exceptions/exceptions_20210216.json
src/data/all_exceptions/exceptions_20210217.json
src/data/all_exceptions/exceptions_20210218.json
src/data/all_exceptions/exceptions_20210219.json
src/data/all_exceptions/exceptions_20210220.json
src/data/all_exceptions/exceptions_20210221.json
src/data/all_exceptions/exceptions_20210222.json
src/data/all_exceptions/exceptions_20210223.json
src/data/all_exceptions/exceptions_20210224.json
src/data/all_exceptions/exceptions_20210225.json
src/data/all_exceptions/exceptions_20210226.json
src/data/all_exceptions/exceptions_20210227.json
src/data/all_exceptions/exceptions_20210228.json
src/exclamation.png
src/data/vehicles.json
public/data/all_exceptions/exceptions_20210201.json
public/data/all_exceptions/exceptions_20210202.json
public/data/all_exceptions/exceptions_20210203.json
public/data/all_exceptions/exceptions_20210204.json
public/data/all_exceptions/exceptions_20210205.json
public/data/all_exceptions/exceptions_20210206.json
public/data/all_exceptions/exceptions_20210207.json
public/data/all_exceptions/exceptions_20210208.json
public/data/all_exceptions/exceptions_20210209.json
public/data/all_exceptions/exceptions_20210210.json
public/data/all_exceptions/exceptions_20210211.json
public/data/all_exceptions/exceptions_20210212.json
public/data/all_exceptions/exceptions_20210213.json
public/data/all_exceptions/exceptions_20210214.json
public/data/all_exceptions/exceptions_20210215.json
public/data/all_exceptions/exceptions_20210216.json
public/data/all_exceptions/exceptions_20210217.json
public/data/all_exceptions/exceptions_20210218.json
public/data/all_exceptions/exceptions_20210219.json
public/data/all_exceptions/exceptions_20210220.json
public/data/all_exceptions/exceptions_20210221.json
public/data/all_exceptions/exceptions_20210222.json
public/data/all_exceptions/exceptions_20210223.json
public/data/all_exceptions/exceptions_20210224.json
public/data/all_exceptions/exceptions_20210225.json
public/data/all_exceptions/exceptions_20210226.json
public/data/all_exceptions/exceptions_20210227.json
public/data/all_exceptions/exceptions_20210228.json
public/data/all_fuel/fuel_20210201.json
public/data/all_fuel/fuel_20210202.json
public/data/all_fuel/fuel_20210203.json
public/data/all_fuel/fuel_20210204.json
public/data/all_fuel/fuel_20210205.json
public/data/all_fuel/fuel_20210206.json
public/data/all_fuel/fuel_20210207.json
public/data/all_fuel/fuel_20210208.json
public/data/all_fuel/fuel_20210209.json
public/data/all_fuel/fuel_20210210.json
public/data/all_fuel/fuel_20210211.json
public/data/all_fuel/fuel_20210212.json
public/data/all_fuel/fuel_20210213.json
public/data/all_fuel/fuel_20210214.json
public/data/all_fuel/fuel_20210215.json
public/data/all_fuel/fuel_20210216.json
public/data/all_fuel/fuel_20210217.json
public/data/all_fuel/fuel_20210218.json
public/data/all_fuel/fuel_20210219.json
public/data/all_fuel/fuel_20210220.json
public/data/all_fuel/fuel_20210221.json
public/data/all_fuel/fuel_20210222.json
public/data/all_fuel/fuel_20210223.json
public/data/all_fuel/fuel_20210224.json
public/data/all_fuel/fuel_20210225.json
public/data/all_fuel/fuel_20210226.json
public/data/all_fuel/fuel_20210227.json
public/data/all_fuel/fuel_20210228.json
public/data/all_vehicles/vehicles_20210201.json
public/data/all_vehicles/vehicles_20210202.json
public/data/all_vehicles/vehicles_20210203.json
public/data/all_vehicles/vehicles_20210204.json
public/data/all_vehicles/vehicles_20210205.json
public/data/all_vehicles/vehicles_20210206.json
public/data/all_vehicles/vehicles_20210207.json
public/data/all_vehicles/vehicles_20210208.json
public/data/all_vehicles/vehicles_20210209.json
public/data/all_vehicles/vehicles_20210210.json
public/location-icon-atlas.png
src/data/location-icon-mapping.json
src/data/todelete.json
src/data/all_fuel/fuel_20210201.json
src/data/all_fuel/fuel_20210202.json
src/data/all_fuel/fuel_20210203.json
src/data/all_fuel/fuel_20210204.json
src/data/all_fuel/fuel_20210205.json
src/data/all_fuel/fuel_20210206.json
src/data/all_fuel/fuel_20210207.json
src/data/all_fuel/fuel_20210208.json
src/data/all_fuel/fuel_20210209.json
src/data/all_fuel/fuel_20210210.json
src/data/all_fuel/fuel_20210211.json
src/data/all_fuel/fuel_20210212.json
src/data/all_fuel/fuel_20210213.json
src/data/all_fuel/fuel_20210214.json
src/data/all_fuel/fuel_20210215.json
src/data/all_fuel/fuel_20210216.json
src/data/all_fuel/fuel_20210217.json
src/data/all_fuel/fuel_20210218.json
src/data/all_fuel/fuel_20210219.json
src/data/all_fuel/fuel_20210220.json
src/data/all_fuel/fuel_20210221.json
src/data/all_fuel/fuel_20210222.json
src/data/all_fuel/fuel_20210223.json
src/data/all_fuel/fuel_20210224.json
src/data/all_fuel/fuel_20210225.json
src/data/all_fuel/fuel_20210226.json
src/data/all_fuel/fuel_20210227.json
src/data/all_fuel/fuel_20210228.json
public/data/all_vehicles/vehicles_20210211.json
public/data/all_vehicles/vehicles_20210212.json
public/data/all_vehicles/vehicles_20210213.json
public/data/all_vehicles/vehicles_20210214.json
public/data/all_vehicles/vehicles_20210215.json
public/data/all_vehicles/vehicles_20210216.json
public/data/all_vehicles/vehicles_20210217.json
public/data/all_vehicles/vehicles_20210218.json
public/data/all_vehicles/vehicles_20210219.json
public/data/all_vehicles/vehicles_20210220.json
public/data/all_vehicles/vehicles_20210221.json
public/data/all_vehicles/vehicles_20210222.json
public/data/icon_atlas/location-icon-atlas-base.png
public/data/icon_atlas/location-icon-atlas-RuleHarshBrakingId.png
public/data/icon_atlas/location-icon-atlas-RuleHarshCorneringId.png
public/data/icon_atlas/location-icon-atlas-RuleJackrabbitStartsId.png
public/data/icon_atlas/location-icon-atlas-RulePostedSpeedingId.png
public/data/icon_atlas/location-icon-atlas-RuleSeatbeltId.png
src/components/charts/data_charts/heatmap_chart.json
package-lock.json
package.json
