main {
  /*background: #f3f4f6;*/
  grid-area: main;
  height: calc(100% - 62px);
}
html, body, #root, #root>div {
  height: 100%;
}

.main__container {
 height: 100%;
}

.main__title {
  display: flex;
  align-items: center;
}

.main__title > img {
  /*max-height: 100px;*/
  object-fit: contain;
  margin-right: 20px;
}

.main__greeting > h1 {
  font-size: 24px;
  color: #2e4a66;
  margin-bottom: 5px;
}

.main__greeting > p {
  /*font-size: 14px;*/
font-size: 7px;
  font-weight: 700;
  color: #a5aaad;
}

.main__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin: 20px 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /*height: 70px;*/
       height: 53px;

  border-radius: 5px;
  background: #ffffff;
  box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}

.card_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card_inner > span {
  font-size: 25px;
}

.charts {
  height: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.calendar {
  /*height: 100px;*/
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 30px;
}

.charts__left {
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}

.charts__left__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.charts__left__title > div > h1 {
  font-size: 24px;
  color: #2e4a66;
  margin-bottom: 5px;
}

.charts__left__title > div > p {
  /*font-size: 14px;*/
  font-size: 7px;
  font-weight: 700;
  color: #a5aaad;
}

.charts__left__title > i {
  color: #ffffff;
  font-size: 20px;
  background: #ffc100;
  border-radius: 200px 0px 200px 200px;
  -moz-border-radius: 200px 0px 200px 200px;
  -webkit-border-radius: 200px 0px 200px 200px;
  border: 0px solid #000000;
  padding: 15px;
}


.charts__right__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.charts__right__title > div > h1 {
  font-size: 24px;
  color: #2e4a66;
  margin-bottom: 5px;
}

.charts__right__title > div > p {
  /*font-size: 14px;*/
font-size: 7px;
  font-weight: 700;
  color: #a5aaad;
}

.charts__right__title > i {
  color: #ffffff;
  font-size: 20px;
  background: #39447a;
  border-radius: 200px 0px 200px 200px;
  -moz-border-radius: 200px 0px 200px 200px;
  -webkit-border-radius: 200px 0px 200px 200px;
  border: 0px solid #000000;
  padding: 15px;
}

.charts__right__cards {
  padding: 22px 20px;
  padding-bottom: 0px;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
  display: grid;
  grid-auto-rows: 86px auto minmax(10px, 60px);
}

#cards {
  text-align: center;
  height: 80px;
  border-radius: 5px;
  font-size: 11px;
  /* height: 100%; */
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.card1 {
  background: #d1ecf1;
  color: #35a4ba;
  text-align: center;
       height: 53px;

  border-radius: 5px;
  
}

.card2 {
  background: #d2f9ee;
  color: #38e1b0;
  text-align: center;
       height: 53px;

  border-radius: 5px;
  
}

.card3 {
  background: #d6d8d9;
  color: #3a3e41;
  text-align: center;
       height: 53px;

  border-radius: 5px;
  
}

.card4 {
  background: #fddcdf;
  color: #f65a6f;
  text-align: center;
       height: 53px;

  border-radius: 5px;
  
}
.card5 {
  background: #fddcdf;
  color: #f65a6f;
  text-align: center;
       height: 53px;

  border-radius: 5px;
  /*font-size: 14px;*/
  font-size: 7px;
}

@media only screen and (max-width: 855px) {
  .main__cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}
.CollapsableCalendar{
  position: absolute;
  right: 351px;
  z-index: 1;
  top: 62px;  
}
#top_buttons{
  grid-column: 1;
  grid-row: 1;
}
.css-g1d714-ValueContainer{
  height: 61px;
  max-height: 75px !important;
  overflow: auto !important;
}
.css-b8ldur-Input{
  display: none;
}
.capas{
  margin: 0px;
}